In [1]:
import os
import pyspark
conf = pyspark.SparkConf()
conf.set('spark.ui.proxyBase', '/user/' + os.environ['JUPYTERHUB_USER'] + '/proxy/4040')

sc = pyspark.SparkContext(conf=conf)
spark = pyspark.sql.SparkSession(sc)
spark

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/12 21:04:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

---

In [2]:
# Datafile: BreadBasket_DMS.csv

In [3]:
df = spark.read\
    .option('delimiter',',')\
    .option("inferSchema", "true")\
    .option("header", "true")\
    .csv("shared/hw2/BreadBasket_DMS.csv")

In [4]:
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Time: timestamp (nullable = true)
 |-- Transaction: integer (nullable = true)
 |-- Item: string (nullable = true)

In [5]:
df.head()

Row(Date=datetime.datetime(2016, 10, 30, 0, 0), Time=datetime.datetime(2023, 3, 12, 9, 58, 11), Transaction=1, Item='Bread')

In [6]:
df.show(5)

+-------------------+-------------------+-----------+-------------+
|               Date|               Time|Transaction|         Item|
+-------------------+-------------------+-----------+-------------+
|2016-10-30 00:00:00|2023-03-12 09:58:11|          1|        Bread|
|2016-10-30 00:00:00|2023-03-12 10:05:34|          2| Scandinavian|
|2016-10-30 00:00:00|2023-03-12 10:05:34|          2| Scandinavian|
|2016-10-30 00:00:00|2023-03-12 10:07:57|          3|Hot chocolate|
|2016-10-30 00:00:00|2023-03-12 10:07:57|          3|          Jam|
+-------------------+-------------------+-----------+-------------+
only showing top 5 rows

### Question 1

What is the most popular (most sold) between the 8:00AM and 8:59AM for each day?

In [7]:
from pyspark.sql.functions import hour

df_grouped = df.filter((hour("Time") == 8))\
    .groupBy("Date", "Item")\
    .agg({"Transaction": "count"})\
    .withColumnRenamed("count(Transaction)", "Count")

df_grouped.printSchema()
df_grouped.show(5)

root
 |-- Date: timestamp (nullable = true)
 |-- Item: string (nullable = true)
 |-- Count: long (nullable = false)

+-------------------+-------+-----+
|               Date|   Item|Count|
+-------------------+-------+-----+
|2016-11-05 00:00:00|   NONE|    1|
|2017-03-09 00:00:00| Coffee|    2|
|2017-04-04 00:00:00|Cookies|    1|
|2017-04-06 00:00:00| Coffee|    2|
|2017-01-28 00:00:00|Brownie|    1|
+-------------------+-------+-----+
only showing top 5 rows

In [8]:
from pyspark.sql.functions import max

df_max_count = df_grouped.groupBy("Date")\
    .agg(max("Count").alias("MaxCount"))

df_max_count.printSchema()
df_max_count.show(5)

root
 |-- Date: timestamp (nullable = true)
 |-- MaxCount: long (nullable = true)

+-------------------+--------+
|               Date|MaxCount|
+-------------------+--------+
|2016-11-18 00:00:00|       6|
|2016-11-02 00:00:00|       8|
|2017-03-30 00:00:00|       3|
|2017-04-08 00:00:00|       4|
|2016-12-01 00:00:00|       1|
+-------------------+--------+
only showing top 5 rows

In [9]:
df_result = df_grouped.join(df_max_count, "Date")\
    .filter(df_grouped.Count == df_max_count.MaxCount)\
    .drop('Count', 'MaxCount')\

df_result.printSchema()
df_result.show(5)

root
 |-- Date: timestamp (nullable = true)
 |-- Item: string (nullable = true)

+-------------------+----------------+
|               Date|            Item|
+-------------------+----------------+
|2016-11-18 00:00:00|          Coffee|
|2016-11-02 00:00:00|          Coffee|
|2017-03-30 00:00:00|Christmas common|
|2017-03-30 00:00:00|          Coffee|
|2017-04-08 00:00:00|           Bread|
+-------------------+----------------+
only showing top 5 rows

In [10]:
df_result.sort('Date').show()

+-------------------+---------+
|               Date|     Item|
+-------------------+---------+
|2016-10-31 00:00:00|    Bread|
|2016-10-31 00:00:00|   Coffee|
|2016-11-01 00:00:00|      Tea|
|2016-11-02 00:00:00|   Coffee|
|2016-11-03 00:00:00|   Coffee|
|2016-11-04 00:00:00|    Bread|
|2016-11-04 00:00:00|   Coffee|
|2016-11-05 00:00:00|    Bread|
|2016-11-07 00:00:00|   Coffee|
|2016-11-07 00:00:00|   Pastry|
|2016-11-08 00:00:00|   Coffee|
|2016-11-08 00:00:00|    Bread|
|2016-11-08 00:00:00|   Pastry|
|2016-11-09 00:00:00|   Coffee|
|2016-11-09 00:00:00|   Pastry|
|2016-11-09 00:00:00|    Bread|
|2016-11-10 00:00:00|   Coffee|
|2016-11-11 00:00:00|    Bread|
|2016-11-12 00:00:00|   Coffee|
|2016-11-12 00:00:00|Medialuna|
+-------------------+---------+
only showing top 20 rows

### Question 2

What is the most common item bought along with “Brownie”? (items bought in the same transaction)

In [11]:
from pyspark.sql.functions import count

df_grouped = df.filter(df.Item == "Brownie")\
    .groupBy("Transaction")\
    .count()

df_grouped.printSchema()
df_grouped.show(5)

root
 |-- Transaction: integer (nullable = true)
 |-- count: long (nullable = false)

+-----------+-----+
|Transaction|count|
+-----------+-----+
|       1238|    1|
|       3749|    1|
|       7554|    1|
|       8389|    1|
|        392|    1|
+-----------+-----+
only showing top 5 rows

In [12]:
df_counted = df_grouped.join(df, "Transaction")\
    .groupBy("Item")\
    .agg(count("Transaction").alias("Count"))

df_counted.printSchema()
df_counted.show(5)

root
 |-- Item: string (nullable = true)
 |-- Count: long (nullable = false)

+-----------------+-----+
|             Item|Count|
+-----------------+-----+
|           Muffin|   18|
|            Salad|    1|
|    Bowl Nic Pitt|    1|
|        Alfajores|   27|
|Hearty & Seasonal|    6|
+-----------------+-----+
only showing top 5 rows

In [13]:
from pyspark.sql.functions import desc

df_counted.sort(desc('Count')).show(5)

+-------+-----+
|   Item|Count|
+-------+-----+
|Brownie|  379|
| Coffee|  237|
|  Bread|  115|
|    Tea|   71|
|   Cake|   43|
+-------+-----+
only showing top 5 rows

In [14]:
df_counted.filter(df_counted.Item != "Brownie")\
    .orderBy(df_counted.Count.desc())\
    .first()["Item"]

'Coffee'

---

In [15]:
# Dataset: Restaurants_in_Durham_County_NC.csv

In [16]:
df = spark.read\
    .option('delimiter',';')\
    .option("inferSchema", "true")\
    .option("header", "true")\
    .csv("shared/hw2/Restaurants_in_Durham_County_NC.csv")

In [17]:
df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Premise_Name: string (nullable = true)
 |-- Premise_Address1: string (nullable = true)
 |-- Premise_Address2: string (nullable = true)
 |-- Premise_City: string (nullable = true)
 |-- Premise_State: string (nullable = true)
 |-- Premise_Zip: string (nullable = true)
 |-- Premise_Phone: string (nullable = true)
 |-- Hours_Of_Operation: string (nullable = true)
 |-- Opening_Date: string (nullable = true)
 |-- Closing_Date: string (nullable = true)
 |-- Seats: string (nullable = true)
 |-- Water: string (nullable = true)
 |-- Sewage: string (nullable = true)
 |-- Insp_Freq: string (nullable = true)
 |-- Est_Group_Desc: string (nullable = true)
 |-- Risk: integer (nullable = true)
 |-- Smoking_Allowed: string (nullable = true)
 |-- Type_Description: string (nullable = true)
 |-- Rpt_Area_Desc: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Transitional_Type_Desc: string (nullable = true)
 |-- geolocation: string (nullable = true)

In [18]:
df.head()

Row(ID='56060', Premise_Name='WEST 94TH ST PUB', Premise_Address1='4711 HOPE VALLEY RD', Premise_Address2='SUITE 6C', Premise_City='DURHAM', Premise_State='NC', Premise_Zip='27707', Premise_Phone='(919) 403-0025', Hours_Of_Operation=None, Opening_Date='1994-09-01', Closing_Date=None, Seats='60', Water='5 - Municipal/Community', Sewage='3 - Municipal/Community', Insp_Freq='4', Est_Group_Desc='Full-Service Restaurant', Risk=4, Smoking_Allowed='NO', Type_Description='1 - Restaurant', Rpt_Area_Desc='Food Service', Status='ACTIVE', Transitional_Type_Desc='FOOD', geolocation='35.9207272, -78.9573299')

In [19]:
df.show(5)

+-----+--------------------+--------------------+----------------+------------+-------------+-----------+--------------+------------------+------------+------------+-----+--------------------+--------------------+---------+--------------------+----+---------------+--------------------+----------------+------+----------------------+--------------------+
|   ID|        Premise_Name|    Premise_Address1|Premise_Address2|Premise_City|Premise_State|Premise_Zip| Premise_Phone|Hours_Of_Operation|Opening_Date|Closing_Date|Seats|               Water|              Sewage|Insp_Freq|      Est_Group_Desc|Risk|Smoking_Allowed|    Type_Description|   Rpt_Area_Desc|Status|Transitional_Type_Desc|         geolocation|
+-----+--------------------+--------------------+----------------+------------+-------------+-----------+--------------+------------------+------------+------------+-----+--------------------+--------------------+---------+--------------------+----+---------------+--------------------+----------------+------+----------------------+--------------------+
|56060|    WEST 94TH ST PUB| 4711 HOPE VALLEY RD|        SUITE 6C|      DURHAM|           NC|      27707|(919) 403-0025|              null|  1994-09-01|        null|   60|5 - Municipal/Com...|3 - Municipal/Com...|        4|Full-Service Rest...|   4|             NO|      1 - Restaurant|    Food Service|ACTIVE|                  FOOD|35.9207272, -78.9...|
|58123|BROOKDALE DURHAM IFS|4434 BEN FRANKLIN...|            null|      DURHAM|           NC|      27704|(919) 479-9966|              null|  2003-10-15|        null|  350|5 - Municipal/Com...|3 - Municipal/Com...|        4|        Nursing Home|   4|             NO|16 - Institutiona...|    Food Service|ACTIVE|                  FOOD|36.0467802, -78.8...|
|70266|       SMOOTHIE KING|1125 W. NC HWY 54...|            null|      DURHAM|           NC|      27707|(919) 489-7300|              null|  2009-07-09|        null|    7|5 - Municipal/Com...|3 - Municipal/Com...|        2|Fast Food Restaurant|   2|             NO|      1 - Restaurant|    Food Service|ACTIVE|                  FOOD|35.9182655, -78.9...|
|97837|HAMPTON INN & SUITES|   1542 N GREGSON ST|            null|      DURHAM|           NC|      27701|(919) 688-8880|              null|  2012-01-09|        null|  100|5 - Municipal/Com...|3 - Municipal/Com...|        2|Full-Service Rest...|   2|             NO|      1 - Restaurant|    Food Service|ACTIVE|                  FOOD|36.0183378, -78.9...|
|60690|BETTER LIVING CON...|       909 GARCIA ST|            null|      DURHAM|           NC|      27704|(919) 477-5825|              null|  2008-06-02|        null|    6|5 - Municipal/Com...|3 - Municipal/Com...|        1|                null|   0|            N/A|43 - Residential ...|Residential Care|ACTIVE|                   N/A|36.0556347, -78.9...|
+-----+--------------------+--------------------+----------------+------------+-------------+-----------+--------------+------------------+------------+------------+-----+--------------------+--------------------+---------+--------------------+----+---------------+--------------------+----------------+------+----------------------+--------------------+
only showing top 5 rows

### Question 3

How many years are represented in this dataset?

In [20]:
from pyspark.sql.functions import to_date, year

df_clean = df.withColumn('Opening_Date', to_date('Opening_Date'))
df_clean = df.withColumn('Closing_Date', to_date('Closing_Date', 'dd-MMM-yyyy'))

df_clean.printSchema()
df_clean.show(5)

root
 |-- ID: string (nullable = true)
 |-- Premise_Name: string (nullable = true)
 |-- Premise_Address1: string (nullable = true)
 |-- Premise_Address2: string (nullable = true)
 |-- Premise_City: string (nullable = true)
 |-- Premise_State: string (nullable = true)
 |-- Premise_Zip: string (nullable = true)
 |-- Premise_Phone: string (nullable = true)
 |-- Hours_Of_Operation: string (nullable = true)
 |-- Opening_Date: string (nullable = true)
 |-- Closing_Date: date (nullable = true)
 |-- Seats: string (nullable = true)
 |-- Water: string (nullable = true)
 |-- Sewage: string (nullable = true)
 |-- Insp_Freq: string (nullable = true)
 |-- Est_Group_Desc: string (nullable = true)
 |-- Risk: integer (nullable = true)
 |-- Smoking_Allowed: string (nullable = true)
 |-- Type_Description: string (nullable = true)
 |-- Rpt_Area_Desc: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Transitional_Type_Desc: string (nullable = true)
 |-- geolocation: string (nullable = true)

+-----+--------------------+--------------------+----------------+------------+-------------+-----------+--------------+------------------+------------+------------+-----+--------------------+--------------------+---------+--------------------+----+---------------+--------------------+----------------+------+----------------------+--------------------+
|   ID|        Premise_Name|    Premise_Address1|Premise_Address2|Premise_City|Premise_State|Premise_Zip| Premise_Phone|Hours_Of_Operation|Opening_Date|Closing_Date|Seats|               Water|              Sewage|Insp_Freq|      Est_Group_Desc|Risk|Smoking_Allowed|    Type_Description|   Rpt_Area_Desc|Status|Transitional_Type_Desc|         geolocation|
+-----+--------------------+--------------------+----------------+------------+-------------+-----------+--------------+------------------+------------+------------+-----+--------------------+--------------------+---------+--------------------+----+---------------+--------------------+----------------+------+----------------------+--------------------+
|56060|    WEST 94TH ST PUB| 4711 HOPE VALLEY RD|        SUITE 6C|      DURHAM|           NC|      27707|(919) 403-0025|              null|  1994-09-01|        null|   60|5 - Municipal/Com...|3 - Municipal/Com...|        4|Full-Service Rest...|   4|             NO|      1 - Restaurant|    Food Service|ACTIVE|                  FOOD|35.9207272, -78.9...|
|58123|BROOKDALE DURHAM IFS|4434 BEN FRANKLIN...|            null|      DURHAM|           NC|      27704|(919) 479-9966|              null|  2003-10-15|        null|  350|5 - Municipal/Com...|3 - Municipal/Com...|        4|        Nursing Home|   4|             NO|16 - Institutiona...|    Food Service|ACTIVE|                  FOOD|36.0467802, -78.8...|
|70266|       SMOOTHIE KING|1125 W. NC HWY 54...|            null|      DURHAM|           NC|      27707|(919) 489-7300|              null|  2009-07-09|        null|    7|5 - Municipal/Com...|3 - Municipal/Com...|        2|Fast Food Restaurant|   2|             NO|      1 - Restaurant|    Food Service|ACTIVE|                  FOOD|35.9182655, -78.9...|
|97837|HAMPTON INN & SUITES|   1542 N GREGSON ST|            null|      DURHAM|           NC|      27701|(919) 688-8880|              null|  2012-01-09|        null|  100|5 - Municipal/Com...|3 - Municipal/Com...|        2|Full-Service Rest...|   2|             NO|      1 - Restaurant|    Food Service|ACTIVE|                  FOOD|36.0183378, -78.9...|
|60690|BETTER LIVING CON...|       909 GARCIA ST|            null|      DURHAM|           NC|      27704|(919) 477-5825|              null|  2008-06-02|        null|    6|5 - Municipal/Com...|3 - Municipal/Com...|        1|                null|   0|            N/A|43 - Residential ...|Residential Care|ACTIVE|                   N/A|36.0556347, -78.9...|
+-----+--------------------+--------------------+----------------+------------+-------------+-----------+--------------+------------------+------------+------------+-----+--------------------+--------------------+---------+--------------------+----+---------------+--------------------+----------------+------+----------------------+--------------------+
only showing top 5 rows

In [21]:
years = []

years.extend(df.select(year('Opening_Date').alias('year')).rdd.flatMap(lambda x: x).collect())
years.extend(df.select(year('Closing_Date').alias('year')).rdd.flatMap(lambda x: x).collect())

years = [i for i in years if i is not None]
years = list(set(years))

years

[1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017]

In [22]:
print(years[-1] - years[0])

27

### Question 4

Show the type and count of restaurant opened during the 90’s (1990-1999 inclusive). Note: type=`Rpt_Area_Desc`.

In [23]:
from pyspark.sql.functions import year, count

df.filter(
    (year("Opening_Date") >= 1990) & (year("Opening_Date") <= 1999)
)\
    .groupBy("Rpt_Area_Desc")\
    .count()\
    .show()

+------------------+-----+
|     Rpt_Area_Desc|count|
+------------------+-----+
|Bed&Breakfast Home|    3|
|      Summer Camps|    1|
|      Institutions|   16|
| Local Confinement|    2|
|  School Buildings|   56|
|    Swimming Pools|  256|
|          Day Care|   58|
| Bed&Breakfast Inn|    1|
|           Lodging|   21|
|      Food Service|  204|
+------------------+-----+

---

In [24]:
# Dataset: populationbycountry19802010millions.csv

In [25]:
df = spark.read\
    .option('delimiter',',')\
    .option("inferSchema", "true")\
    .option("header", "true")\
    .csv("shared/hw2/populationbycountry19802010millions.csv")

In [26]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- 1980: string (nullable = true)
 |-- 1981: string (nullable = true)
 |-- 1982: string (nullable = true)
 |-- 1983: string (nullable = true)
 |-- 1984: string (nullable = true)
 |-- 1985: string (nullable = true)
 |-- 1986: string (nullable = true)
 |-- 1987: string (nullable = true)
 |-- 1988: string (nullable = true)
 |-- 1989: string (nullable = true)
 |-- 1990: string (nullable = true)
 |-- 1991: string (nullable = true)
 |-- 1992: string (nullable = true)
 |-- 1993: string (nullable = true)
 |-- 1994: string (nullable = true)
 |-- 1995: string (nullable = true)
 |-- 1996: string (nullable = true)
 |-- 1997: string (nullable = true)
 |-- 1998: string (nullable = true)
 |-- 1999: string (nullable = true)
 |-- 2000: string (nullable = true)
 |-- 2001: string (nullable = true)
 |-- 2002: string (nullable = true)
 |-- 2003: string (nullable = true)
 |-- 2004: string (nullable = true)
 |-- 2005: string (nullable = true)
 |-- 2006: string (nullable = true)
 |-- 2007: string (nullable = true)
 |-- 2008: string (nullable = true)
 |-- 2009: string (nullable = true)
 |-- 2010: string (nullable = true)

In [27]:
df.head()

23/03/12 21:04:49 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
23/03/12 21:04:49 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010
 Schema: _c0, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv

Row(_c0='North America', 1980='320.27638', 1981='324.44694', 1982='328.62014', 1983='332.72487', 1984='336.72143', 1985='340.74811', 1986='344.89548', 1987='349.07829', 1988='353.2939', 1989='357.68457', 1990='362.4468', 1991='367.70684', 1992='373.29069', 1993='378.74233', 1994='383.9166', 1995='388.97216', 1996='393.9428', 1997='398.97205', 1998='403.85585', 1999='408.60296', 2000='413.3245', 2001='417.83236', 2002='422.05268', 2003='426.06238', 2004='430.26938', 2005='434.47232', 2006='438.82964', 2007='443.3473', 2008='447.67394', 2009='451.83698', 2010='456.59331')

In [28]:
df.show(5)

23/03/12 21:04:49 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010
 Schema: _c0, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
+-------------+---------+---------+---------+---------+---------+---------+---------+---------+--------+---------+--------+---------+---------+---------+--------+---------+--------+---------+---------+---------+--------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|          _c0|     1980|     1981|     1982|     1983|     1984|     1985|     1986|     1987|    1988|     1989|    1990|     1991|     1992|     1993|    1994|     1995|    1996|     1997|     1998|     1999|    2000|     2001|     2002|     2003|     2004|     2005|     2006|     2007|     2008|     2009|     2010|
+-------------+---------+---------+---------+---------+---------+---------+---------+---------+--------+---------+--------+---------+---------+---------+--------+---------+--------+---------+---------+---------+--------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|North America|320.27638|324.44694|328.62014|332.72487|336.72143|340.74811|344.89548|349.07829|353.2939|357.68457|362.4468|367.70684|373.29069|378.74233|383.9166|388.97216|393.9428|398.97205|403.85585|408.60296|413.3245|417.83236|422.05268|426.06238|430.26938|434.47232|438.82964| 443.3473|447.67394|451.83698|456.59331|
|      Bermuda|  0.05473|  0.05491|  0.05517|  0.05551|  0.05585|  0.05618|  0.05651|  0.05683| 0.05717|  0.05749| 0.05778|   0.0581|   0.0587|  0.05924| 0.05975|  0.06029| 0.06087|  0.06145|  0.06198|  0.06251| 0.06306|  0.06361|  0.06418|  0.06476|  0.06534|  0.06591|  0.06644|  0.06692|  0.06739|  0.06784|  0.06827|
|       Canada|  24.5933|     24.9|  25.2019|  25.4563|  25.7018|  25.9416|  26.2038|  26.5497| 26.8948|  27.3793| 27.7906|  28.1179| 28.54489| 28.95334|29.33081| 29.69053|30.02632|  30.3056| 30.55166| 30.82026|31.09956| 31.37674| 31.64096| 31.88931| 32.13476| 32.38638| 32.65668| 32.93596|  33.2127| 33.48721| 33.75974|
|    Greenland|  0.05021|  0.05103|  0.05166|  0.05211|  0.05263|  0.05315|  0.05364|   0.0541| 0.05485|  0.05541| 0.05563|  0.05554|  0.05549|  0.05564| 0.05592|  0.05619| 0.05634|  0.05651|  0.05661|   0.0567| 0.05689|  0.05713|  0.05736|  0.05754|   0.0577|  0.05778|  0.05764|  0.05753|  0.05756|   0.0576|  0.05764|
|       Mexico| 68.34748| 69.96926|  71.6409| 73.36288| 75.08014| 76.76723| 78.44243| 80.12249|81.78182| 83.36684|84.91365| 86.48803| 88.11103| 89.74914| 91.3379| 92.88035|94.39858| 95.89515| 97.32506| 98.61691|99.92662|101.24696|102.47993|103.71806|104.95959| 106.2029|107.44953|108.70089| 109.9554|111.21179|112.46886|
+-------------+---------+---------+---------+---------+---------+---------+---------+---------+--------+---------+--------+---------+---------+---------+--------+---------+--------+---------+---------+---------+--------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
only showing top 5 rows

### Question 5

For region, compute the percentage change in population, year over year. Note the year 1980 will not have a preceding year. For each year, display the region with the top population decrease.

In [29]:
from pyspark.sql.functions import col, round

result = []

for previous_year, current_year in zip(df.columns[1:], df.columns[2:]):
    year_range = previous_year + "-" + current_year
    df_year_range = df.select("_c0", previous_year, current_year)
    df_year_range = df_year_range.withColumn(
        year_range, 
        round(((col(current_year) - col(previous_year)) / col(previous_year) * 100 ), 2)
    ).na.drop()
    df_year_range.sort(col(year_range)).show(5)
    df_top = df_year_range.orderBy(col(year_range)).first()
    result.append(df_top["_c0"] + "," + str(df_top[year_range]) + "%")

23/03/12 21:04:50 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1980, 1981
 Schema: _c0, 1980, 1981
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
+------------+-------+--------+---------+
|         _c0|   1980|    1981|1980-1981|
+------------+-------+--------+---------+
| Afghanistan|15.0436|13.67368|    -9.11|
|Cook Islands|0.01801| 0.01765|     -2.0|
| El Salvador|4.57041| 4.51972|    -1.11|
|    Dominica|0.07389| 0.07352|     -0.5|
|    Suriname|0.35408| 0.35251|    -0.44|
+------------+-------+--------+---------+
only showing top 5 rows

23/03/12 21:04:50 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1980, 1981
 Schema: _c0, 1980, 1981
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
23/03/12 21:04:50 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1981, 1982
 Schema: _c0, 1981, 1982
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
+------------+--------+--------+---------+
|         _c0|    1981|    1982|1981-1982|
+------------+--------+--------+---------+
| Afghanistan|13.67368|12.57743|    -8.02|
|   Gibraltar| 0.02927| 0.02885|    -1.43|
|Cook Islands| 0.01765| 0.01744|    -1.19|
|  Montserrat| 0.01179| 0.01166|     -1.1|
|       Malta| 0.36365| 0.36022|    -0.94|
+------------+--------+--------+---------+
only showing top 5 rows

23/03/12 21:04:50 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1981, 1982
 Schema: _c0, 1981, 1982
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
23/03/12 21:04:51 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1982, 1983
 Schema: _c0, 1982, 1983
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
+-------------------+--------+--------+---------+
|                _c0|    1982|    1983|1982-1983|
+-------------------+--------+--------+---------+
|Antigua and Barbuda| 0.06801| 0.06562|    -3.51|
|          Gibraltar| 0.02885| 0.02835|    -1.73|
|              Malta| 0.36022| 0.35577|    -1.24|
|        Afghanistan|12.57743|12.43058|    -1.17|
|         Montserrat| 0.01166| 0.01156|    -0.86|
+-------------------+--------+--------+---------+
only showing top 5 rows

23/03/12 21:04:51 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1982, 1983
 Schema: _c0, 1982, 1983
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
23/03/12 21:04:51 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1983, 1984
 Schema: _c0, 1983, 1984
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
+-------------------+-------+-------+---------+
|                _c0|   1983|   1984|1983-1984|
+-------------------+-------+-------+---------+
|Antigua and Barbuda|0.06562|0.06447|    -1.75|
|              Malta|0.35577|0.35138|    -1.23|
|         Montserrat|0.01156|0.01144|    -1.04|
|          Gibraltar|0.02835|0.02823|    -0.42|
|      Germany, West|  61.38|  61.13|    -0.41|
+-------------------+-------+-------+---------+
only showing top 5 rows

23/03/12 21:04:51 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1983, 1984
 Schema: _c0, 1983, 1984
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
23/03/12 21:04:52 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1984, 1985
 Schema: _c0, 1984, 1985
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
+--------------------+-------+-------+---------+
|                 _c0|   1984|   1985|1984-1985|
+--------------------+-------+-------+---------+
|        Cook Islands|0.01774|0.01749|    -1.41|
|               Malta|0.35138|0.34704|    -1.24|
|            Dominica|0.07399|0.07311|    -1.19|
|          Montserrat|0.01144|0.01132|    -1.05|
|Saint Kitts and N...|0.04309|0.04293|    -0.37|
+--------------------+-------+-------+---------+
only showing top 5 rows

23/03/12 21:04:52 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1984, 1985
 Schema: _c0, 1984, 1985
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
23/03/12 21:04:52 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1985, 1986
 Schema: _c0, 1985, 1986
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
+--------------------+--------+--------+---------+
|                 _c0|    1985|    1986|1985-1986|
+--------------------+--------+--------+---------+
|Netherlands Antilles| 0.24443| 0.18433|   -24.59|
|            Dominica| 0.07311| 0.07238|     -1.0|
|          Montserrat| 0.01132| 0.01121|    -0.97|
|Saint Kitts and N...| 0.04293| 0.04273|    -0.47|
|             Hungary|10.64871|10.63056|    -0.17|
+--------------------+--------+--------+---------+
only showing top 5 rows

23/03/12 21:04:52 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1985, 1986
 Schema: _c0, 1985, 1986
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
23/03/12 21:04:53 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1986, 1987
 Schema: _c0, 1986, 1987
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
+------------+--------+--------+---------+
|         _c0|    1986|    1987|1986-1987|
+------------+--------+--------+---------+
|Saint Helena| 0.00831| 0.00654|    -21.3|
|  Mozambique|13.14302|12.89485|    -1.89|
|  Montserrat| 0.01121| 0.01109|    -1.07|
|       Aruba|  0.0598| 0.05918|    -1.04|
|    Dominica| 0.07238| 0.07182|    -0.77|
+------------+--------+--------+---------+
only showing top 5 rows

23/03/12 21:04:53 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1986, 1987
 Schema: _c0, 1986, 1987
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
23/03/12 21:04:53 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1987, 1988
 Schema: _c0, 1987, 1988
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
+--------------------+--------+--------+---------+
|                 _c0|    1987|    1988|1987-1988|
+--------------------+--------+--------+---------+
|          Mozambique|12.89485|12.52301|    -2.88|
|             Hungary|10.61274| 10.4425|     -1.6|
|          Montserrat| 0.01109| 0.01097|    -1.08|
|               Tonga|   0.094| 0.09332|    -0.72|
|Saint Kitts and N...| 0.04248| 0.04219|    -0.68|
+--------------------+--------+--------+---------+
only showing top 5 rows

23/03/12 21:04:53 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1987, 1988
 Schema: _c0, 1987, 1988
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
23/03/12 21:04:54 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1988, 1989
 Schema: _c0, 1988, 1989
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
+--------------------+-------+-------+---------+
|                 _c0|   1988|   1989|1988-1989|
+--------------------+-------+-------+---------+
|             Somalia|6.91829|6.76633|     -2.2|
|            Dominica|0.07134|0.07051|    -1.16|
|          Montserrat|0.01097|0.01085|    -1.09|
|Saint Kitts and N...|0.04219|0.04192|    -0.64|
|               Tonga|0.09332|0.09278|    -0.58|
+--------------------+-------+-------+---------+
only showing top 5 rows

23/03/12 21:04:54 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1988, 1989
 Schema: _c0, 1988, 1989
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
23/03/12 21:04:54 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1989, 1990
 Schema: _c0, 1989, 1990
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
+-------------+--------+--------+---------+
|          _c0|    1989|    1990|1989-1990|
+-------------+--------+--------+---------+
|      Liberia| 2.45297| 2.13859|   -12.82|
|    Gibraltar| 0.03042| 0.02911|    -4.31|
|Germany, East|16.65491|16.15039|    -3.03|
| South Africa|39.04797|38.47627|    -1.46|
|   Montserrat| 0.01085| 0.01073|    -1.11|
+-------------+--------+--------+---------+
only showing top 5 rows

23/03/12 21:04:54 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1989, 1990
 Schema: _c0, 1989, 1990
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
23/03/12 21:04:54 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1990, 1991
 Schema: _c0, 1990, 1991
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
+---------+--------+--------+---------+
|      _c0|    1990|    1991|1990-1991|
+---------+--------+--------+---------+
|   Kuwait| 2.14206| 0.95422|   -55.45|
|  Liberia| 2.13859| 1.81471|   -15.14|
|     Iraq|18.13996|17.47737|    -3.65|
|Gibraltar| 0.02911|  0.0281|    -3.47|
|  Somalia| 6.69204| 6.46448|     -3.4|
+---------+--------+--------+---------+
only showing top 5 rows

23/03/12 21:04:55 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1990, 1991
 Schema: _c0, 1990, 1991
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
23/03/12 21:04:55 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1991, 1992
 Schema: _c0, 1991, 1992
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
+------------+-------+-------+---------+
|         _c0|   1991|   1992|1991-1992|
+------------+-------+-------+---------+
|     Somalia|6.46448|6.11621|    -5.39|
|      Bhutan|0.62504|0.60166|    -3.74|
|     Albania|3.18105|3.07201|    -3.43|
|Sierra Leone| 4.3349|4.24628|    -2.04|
|    Bulgaria|8.77237|8.65851|     -1.3|
+------------+-------+-------+---------+
only showing top 5 rows

23/03/12 21:04:55 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1991, 1992
 Schema: _c0, 1991, 1992
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
23/03/12 21:04:55 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1992, 1993
 Schema: _c0, 1992, 1993
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
+--------------------+-------+-------+---------+
|                 _c0|   1992|   1993|1992-1993|
+--------------------+-------+-------+---------+
|Bosnia and Herzeg...|4.25601|3.95502|    -7.07|
|             Armenia|3.37833|3.23157|    -4.34|
|              Bhutan|0.60166|0.57669|    -4.15|
|       Faroe Islands|0.04778|0.04609|    -3.54|
|        Sierra Leone|4.24628|4.09967|    -3.45|
+--------------------+-------+-------+---------+
only showing top 5 rows

23/03/12 21:04:56 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1992, 1993
 Schema: _c0, 1992, 1993
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
23/03/12 21:04:56 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1993, 1994
 Schema: _c0, 1993, 1994
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
+--------------------+--------+--------+---------+
|                 _c0|    1993|    1994|1993-1994|
+--------------------+--------+--------+---------+
|              Rwanda| 7.59668| 6.50553|   -14.36|
|Bosnia and Herzeg...| 3.95502| 3.78498|     -4.3|
|U.S. Pacific Islands| 0.23438| 0.22598|    -3.58|
|            Ethiopia|56.03139|54.03425|    -3.56|
|       Faroe Islands| 0.04609|  0.0445|    -3.45|
+--------------------+--------+--------+---------+
only showing top 5 rows

23/03/12 21:04:56 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1993, 1994
 Schema: _c0, 1993, 1994
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
23/03/12 21:04:56 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1994, 1995
 Schema: _c0, 1994, 1995
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
+--------------------+-------+-------+---------+
|                 _c0|   1994|   1995|1994-1995|
+--------------------+-------+-------+---------+
|              Rwanda|6.50553|5.47298|   -15.87|
|        Sierra Leone|3.97796|3.88144|    -2.43|
|       Faroe Islands| 0.0445|0.04354|    -2.16|
|             Georgia|5.12081|5.01295|    -2.11|
|Bosnia and Herzeg...|3.78498|3.70896|    -2.01|
+--------------------+-------+-------+---------+
only showing top 5 rows

23/03/12 21:04:57 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1994, 1995
 Schema: _c0, 1994, 1995
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
23/03/12 21:04:57 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1995, 1996
 Schema: _c0, 1995, 1996
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
+--------------------+-------+-------+---------+
|                 _c0|   1995|   1996|1995-1996|
+--------------------+-------+-------+---------+
|          Montserrat|0.01027|0.00795|   -22.59|
|Bosnia and Herzeg...|3.70896| 3.6085|    -2.71|
|        Sierra Leone|3.88144| 3.8105|    -1.83|
|             Georgia|5.01295|4.93457|    -1.56|
|             Estonia|1.44651|1.42783|    -1.29|
+--------------------+-------+-------+---------+
only showing top 5 rows

23/03/12 21:04:57 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1995, 1996
 Schema: _c0, 1995, 1996
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
23/03/12 21:04:57 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1996, 1997
 Schema: _c0, 1996, 1997
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
+------------+--------+--------+---------+
|         _c0|    1996|    1997|1996-1997|
+------------+--------+--------+---------+
|  Montserrat| 0.00795| 0.00595|   -25.16|
|Cook Islands| 0.01818| 0.01787|    -1.71|
|  Kazakhstan|15.69609|15.48452|    -1.35|
|Sierra Leone|  3.8105| 3.76521|    -1.19|
|    Bulgaria| 8.16103| 8.06606|    -1.16|
+------------+--------+--------+---------+
only showing top 5 rows

23/03/12 21:04:57 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1996, 1997
 Schema: _c0, 1996, 1997
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
23/03/12 21:04:58 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1997, 1998
 Schema: _c0, 1997, 1998
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
+--------------------+--------+--------+---------+
|                 _c0|    1997|    1998|1997-1998|
+--------------------+--------+--------+---------+
|          Montserrat| 0.00595| 0.00338|   -43.19|
|        Cook Islands| 0.01787| 0.01738|    -2.74|
|          Kazakhstan|15.48452| 15.2471|    -1.53|
|        Korea, North|21.47045|21.20487|    -1.24|
|Former Serbia and...|10.47286|10.34279|    -1.24|
+--------------------+--------+--------+---------+
only showing top 5 rows

23/03/12 21:04:58 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1997, 1998
 Schema: _c0, 1997, 1998
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
23/03/12 21:04:58 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1998, 1999
 Schema: _c0, 1998, 1999
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
+--------------------+--------+--------+---------+
|                 _c0|    1998|    1999|1998-1999|
+--------------------+--------+--------+---------+
|        Cook Islands| 0.01738| 0.01686|    -2.99|
|Former Serbia and...|10.34279| 10.1599|    -1.77|
|          Kazakhstan| 15.2471|15.08462|    -1.07|
|            Bulgaria| 7.97177| 7.89323|    -0.99|
|             Ukraine| 49.9372|49.48506|    -0.91|
+--------------------+--------+--------+---------+
only showing top 5 rows

23/03/12 21:04:58 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1998, 1999
 Schema: _c0, 1998, 1999
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
23/03/12 21:04:59 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1999, 2000
 Schema: _c0, 1999, 2000
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
+--------------------+--------+--------+---------+
|                 _c0|    1999|    2000|1999-2000|
+--------------------+--------+--------+---------+
|        Cook Islands| 0.01686| 0.01631|    -3.26|
|Former Serbia and...| 10.1599|10.03677|    -1.21|
|             Ukraine|49.48506|49.00522|    -0.97|
|            Bulgaria| 7.89323|  7.8185|    -0.95|
|             Albania| 3.18733| 3.15835|    -0.91|
+--------------------+--------+--------+---------+
only showing top 5 rows

23/03/12 21:04:59 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 1999, 2000
 Schema: _c0, 1999, 2000
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
23/03/12 21:04:59 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 2000, 2001
 Schema: _c0, 2000, 2001
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
+------------+--------+--------+---------+
|         _c0|    2000|    2001|2000-2001|
+------------+--------+--------+---------+
|Cook Islands| 0.01631| 0.01573|    -3.56|
|    Bulgaria|  7.8185| 7.73842|    -1.02|
|     Ukraine|49.00522|48.50792|    -1.01|
|     Albania| 3.15835|   3.128|    -0.96|
|      Latvia| 2.37618| 2.35823|    -0.76|
+------------+--------+--------+---------+
only showing top 5 rows

23/03/12 21:04:59 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 2000, 2001
 Schema: _c0, 2000, 2001
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
23/03/12 21:05:00 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 2001, 2002
 Schema: _c0, 2001, 2002
Expected: _c0 but found:
CSV file: file:///home/jovyan/shared/hw2/populationbycountry19802010millions.csv
+------------+--------+--------+---------+
|         _c0|    2001|    2002|2001-2002|
+------------+--------+--------+---------+
|Cook Islands| 0.01573| 0.01515|    -3.69|
|    Bulgaria| 7.73842|  7.6618|    -0.99|
|     Albania|   3.128| 3.09803|    -0.96|
|     Ukraine|48.50792|48.05682|    -0.93|
|      Latvia| 2.35823| 2.34021|    -0.76|
+------------+--------+--------+---------+

In [30]:
year = 1980
for top in result:
    print(year, top)
    year = year + 1

1980 Afghanistan,-9.11%
1981 Afghanistan,-8.02%
1982 Antigua and Barbuda,-3.51%
1983 Antigua and Barbuda,-1.75%
1984 Cook Islands,-1.41%
1985 Netherlands Antilles,-24.59%
1986 Saint Helena,-21.3%
1987 Mozambique,-2.88%
1988 Somalia,-2.2%
1989 Liberia,-12.82%
1990 Kuwait,-55.45%
1991 Somalia,-5.39%
1992 Bosnia and Herzegovina,-7.07%
1993 Rwanda,-14.36%
1994 Rwanda,-15.87%
1995 Montserrat,-22.59%
1996 Montserrat,-25.16%
1997 Montserrat,-43.19%
1998 Cook Islands,-2.99%
1999 Cook Islands,-3.26%
2000 Cook Islands,-3.56%
2001 Cook Islands,-3.69%
2002 Montserrat,-6.65%
2003 Djibouti,-4.83%
2004 Montserrat,-8.67%
2005 Nauru,-4.4%
2006 Nauru,-4.7%
2007 Cook Islands,-3.31%
2008 Cook Islands,-3.26%
2009 Cook Islands,-3.2%

---

In [31]:
# Dataset: romeo-juliet-pg1777.txt

In [32]:
txt = spark.read.text("shared/hw2/romeo-juliet-pg1777.txt")

In [33]:
txt.printSchema()

root
 |-- value: string (nullable = true)

In [34]:
txt.head()

Row(value='')

In [35]:
txt.show(5)

+--------------------+
|               value|
+--------------------+
|                    |
|This Etext file i...|
|cooperation with ...|
|Future and Shakes...|
|Etexts that are N...|
+--------------------+
only showing top 5 rows

### Question 6

Do word count in pyspark. Ignore punctuation, and normalize to lower case. Accept only the characters in this set: `[0-9a-zA-Z]`.

In [36]:
import re

def normalize_text(text):
    text = text.lower()
    text = re.sub(r'[^0-9a-zA-Z]+', ' ', text)
    return text.strip()

lines = txt.rdd.map(lambda r: r[0])

word_counts = lines.flatMap(lambda line: line.split(" ")) \
                  .map(lambda word: (normalize_text(word), 1)) \
                  .filter(lambda pair: len(pair[0]) > 0) \
                  .reduceByKey(lambda x, y: x + y)

df_wordcount = spark.createDataFrame(word_counts, ['Word', 'Count'])

df_wordcount.printSchema()
df_wordcount.show(5)

root
 |-- Word: string (nullable = true)
 |-- Count: long (nullable = true)

+---------+-----+
|     Word|Count|
+---------+-----+
|     this|  258|
|    etext|   29|
|     file|    3|
|       is|  383|
|presented|    1|
+---------+-----+
only showing top 5 rows

---

In [37]:
# Datasets:
#  Restaurants_in_Durham_County_NC.csv
#  durham-nc-foreclosure-2006-2016.json

### Q7

For each restaurant (`Restaurants_in_Durham_County_NC.csv`) with `status`=`ACTIVE` and `rpt_area_desc`=`Food Service`, show the number of foreclosures (`durham-nc-foreclosure-2006-2016`) within a radius of 1 mile of the restaurant’s coordinates.

Note: You can use the Haversine distance. https://pypi.org/project/haversine/

In [38]:
restaurants = spark.read\
    .option("delimiter", ";")\
    .option("inferSchema", True)\
    .option("header", True)\
    .csv("shared/hw2/Restaurants_in_Durham_County_NC.csv")\
    .repartition(10)

restaurants.printSchema()
restaurants.show(5)

root
 |-- ID: string (nullable = true)
 |-- Premise_Name: string (nullable = true)
 |-- Premise_Address1: string (nullable = true)
 |-- Premise_Address2: string (nullable = true)
 |-- Premise_City: string (nullable = true)
 |-- Premise_State: string (nullable = true)
 |-- Premise_Zip: string (nullable = true)
 |-- Premise_Phone: string (nullable = true)
 |-- Hours_Of_Operation: string (nullable = true)
 |-- Opening_Date: string (nullable = true)
 |-- Closing_Date: string (nullable = true)
 |-- Seats: string (nullable = true)
 |-- Water: string (nullable = true)
 |-- Sewage: string (nullable = true)
 |-- Insp_Freq: string (nullable = true)
 |-- Est_Group_Desc: string (nullable = true)
 |-- Risk: integer (nullable = true)
 |-- Smoking_Allowed: string (nullable = true)
 |-- Type_Description: string (nullable = true)
 |-- Rpt_Area_Desc: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Transitional_Type_Desc: string (nullable = true)
 |-- geolocation: string (nullable = true)

+------+--------------------+-------------------+----------------+------------+-------------+-----------+--------------+------------------+------------+------------+-----+--------------------+--------------------+---------+--------------+----+---------------+--------------------+----------------+------+----------------------+--------------------+
|    ID|        Premise_Name|   Premise_Address1|Premise_Address2|Premise_City|Premise_State|Premise_Zip| Premise_Phone|Hours_Of_Operation|Opening_Date|Closing_Date|Seats|               Water|              Sewage|Insp_Freq|Est_Group_Desc|Risk|Smoking_Allowed|    Type_Description|   Rpt_Area_Desc|Status|Transitional_Type_Desc|         geolocation|
+------+--------------------+-------------------+----------------+------------+-------------+-----------+--------------+------------------+------------+------------+-----+--------------------+--------------------+---------+--------------+----+---------------+--------------------+----------------+------+----------------------+--------------------+
| 60782|FRANCIS STREET WO...|2404 FRANCIS STREET|            null|      DURHAM|           NC|      27707|(919) 425-5474|              null|  2008-06-02|        null|   10|5 - Municipal/Com...|3 - Municipal/Com...|        1|          null|   0|            N/A|43 - Residential ...|Residential Care|ACTIVE|                   N/A|35.975057, -78.93...|
| 59238|FITNESS CONNECTIO...|4700-A EMPEROR BLVD|            null|      DURHAM|           NC|      27703|          null|              null|  1996-03-01|        null|    0|5 - Municipal/Com...|3 - Municipal/Com...|        2|          null|   0|            N/A| 55 - Year-Round Spa|  Swimming Pools|ACTIVE|                   N/A|35.8767831, -78.8...|
|178996|MORTAR AND GRIND ...|1101 CHAPEL HILL ST|            null|      DURHAM|           NC|      27701|(919) 593-2107|              null|  2016-08-09|        null| null|5 - Municipal/Com...|3 - Municipal/Com...|        2|          null|   2|            N/A|     2 - Food Stands|    Food Service|ACTIVE|                  FOOD|35.9965963, -78.9...|
| 58745|DURHAM SCHOOL OF ...|      401 N DUKE ST|            null|      DURHAM|           NC|      27701|(919) 560-2217|              null|  1995-05-02|        null|    0|5 - Municipal/Com...|3 - Municipal/Com...|        1|          null|   0|            N/A|44 - School Building|School Buildings|ACTIVE|                   N/A|36.002815, -78.90...|
|116820|   INTER KOREA HOUSE|      4731 NC HWY55|            null|      DURHAM|           NC|      27713|(919) 572-9132|              null|  2013-04-09|        null|   60|5 - Municipal/Com...|3 - Municipal/Com...|        4|          null|   4|            N/A|      1 - Restaurant|    Food Service|ACTIVE|                  FOOD|35.9009097, -78.8...|
+------+--------------------+-------------------+----------------+------------+-------------+-----------+--------------+------------------+------------+------------+-----+--------------------+--------------------+---------+--------------+----+---------------+--------------------+----------------+------+----------------------+--------------------+
only showing top 5 rows

In [39]:
foreclosures = spark.read\
    .json("shared/hw2/durham-nc-foreclosure-2006-2016.json")\
    .repartition(10)

foreclosures.printSchema()
foreclosures.show(5)

root
 |-- datasetid: string (nullable = true)
 |-- fields: struct (nullable = true)
 |    |-- address: string (nullable = true)
 |    |-- geocode: array (nullable = true)
 |    |    |-- element: double (containsNull = true)
 |    |-- parcel_number: string (nullable = true)
 |    |-- year: string (nullable = true)
 |-- geometry: struct (nullable = true)
 |    |-- coordinates: array (nullable = true)
 |    |    |-- element: double (containsNull = true)
 |    |-- type: string (nullable = true)
 |-- record_timestamp: string (nullable = true)
 |-- recordid: string (nullable = true)

+--------------------+--------------------+--------------------+--------------------+--------------------+
|           datasetid|              fields|            geometry|    record_timestamp|            recordid|
+--------------------+--------------------+--------------------+--------------------+--------------------+
|foreclosure-2006-...|{6117 KELVIN DR, ...|{[-78.956498, 36....|2017-03-06T12:41:...|a9bd7d8b97effeba4...|
|foreclosure-2006-...|{613 HARNETT ST, ...|{[-78.8781489, 35...|2017-03-06T12:41:...|6abbbfe5593395f7c...|
|foreclosure-2006-...|{1009 MIDLAND TER...|{[-78.8612179, 36...|2017-03-06T12:41:...|bce5a641e8c280060...|
|foreclosure-2006-...|{129 CHESTNUT ST,...|{[-78.9054859, 35...|2017-03-06T12:41:...|c5fe0498f904f15c5...|
|foreclosure-2006-...|{4816 STANLEY RD,...|{[-78.872153, 36....|2017-03-06T12:41:...|31a5c9fec178cf2c8...|
+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [40]:
from pyspark.sql.functions import split

active = restaurants\
    .filter((col("status") == "ACTIVE") & (col("Rpt_Area_Desc") == "Food Service"))\
    .withColumn("Latitude", split(col("geolocation"), ",").getItem(0))\
    .withColumn("Longitude", split(col("geolocation"), ",").getItem(1))

coordinates = foreclosures.select(
    foreclosures.geometry.coordinates[0].alias("long"),
    foreclosures.geometry.coordinates.getItem(1).alias("lat")
)

result = active.crossJoin(coordinates)

result.printSchema()
result.show(5)

root
 |-- ID: string (nullable = true)
 |-- Premise_Name: string (nullable = true)
 |-- Premise_Address1: string (nullable = true)
 |-- Premise_Address2: string (nullable = true)
 |-- Premise_City: string (nullable = true)
 |-- Premise_State: string (nullable = true)
 |-- Premise_Zip: string (nullable = true)
 |-- Premise_Phone: string (nullable = true)
 |-- Hours_Of_Operation: string (nullable = true)
 |-- Opening_Date: string (nullable = true)
 |-- Closing_Date: string (nullable = true)
 |-- Seats: string (nullable = true)
 |-- Water: string (nullable = true)
 |-- Sewage: string (nullable = true)
 |-- Insp_Freq: string (nullable = true)
 |-- Est_Group_Desc: string (nullable = true)
 |-- Risk: integer (nullable = true)
 |-- Smoking_Allowed: string (nullable = true)
 |-- Type_Description: string (nullable = true)
 |-- Rpt_Area_Desc: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Transitional_Type_Desc: string (nullable = true)
 |-- geolocation: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- long: double (nullable = true)
 |-- lat: double (nullable = true)

+-----+------------+--------------------+----------------+------------+-------------+-----------+--------------+------------------+------------+------------+-----+--------------------+--------------------+---------+--------------------+----+---------------+----------------+-------------+------+----------------------+--------------------+----------+------------+-----------+----------+
|   ID|Premise_Name|    Premise_Address1|Premise_Address2|Premise_City|Premise_State|Premise_Zip| Premise_Phone|Hours_Of_Operation|Opening_Date|Closing_Date|Seats|               Water|              Sewage|Insp_Freq|      Est_Group_Desc|Risk|Smoking_Allowed|Type_Description|Rpt_Area_Desc|Status|Transitional_Type_Desc|         geolocation|  Latitude|   Longitude|       long|       lat|
+-----+------------+--------------------+----------------+------------+-------------+-----------+--------------+------------------+------------+------------+-----+--------------------+--------------------+---------+--------------------+----+---------------+----------------+-------------+------+----------------------+--------------------+----------+------------+-----------+----------+
|55475|BOJANGLES #6|4525 N. ROXBORO ROAD|            null|      DURHAM|           NC|      27704|(919) 471-0581|              null|  1990-07-01|        null|   80|5 - Municipal/Com...|3 - Municipal/Com...|        3|Fast Food Restaurant|   3|             NO|  1 - Restaurant| Food Service|ACTIVE|                  FOOD|36.0583372, -78.9...|36.0583372| -78.9032023|-78.9054859|35.9860296|
|55475|BOJANGLES #6|4525 N. ROXBORO ROAD|            null|      DURHAM|           NC|      27704|(919) 471-0581|              null|  1990-07-01|        null|   80|5 - Municipal/Com...|3 - Municipal/Com...|        3|Fast Food Restaurant|   3|             NO|  1 - Restaurant| Food Service|ACTIVE|                  FOOD|36.0583372, -78.9...|36.0583372| -78.9032023|-78.8999963|35.9828632|
|55475|BOJANGLES #6|4525 N. ROXBORO ROAD|            null|      DURHAM|           NC|      27704|(919) 471-0581|              null|  1990-07-01|        null|   80|5 - Municipal/Com...|3 - Municipal/Com...|        3|Fast Food Restaurant|   3|             NO|  1 - Restaurant| Food Service|ACTIVE|                  FOOD|36.0583372, -78.9...|36.0583372| -78.9032023| -78.905474| 35.982741|
|55475|BOJANGLES #6|4525 N. ROXBORO ROAD|            null|      DURHAM|           NC|      27704|(919) 471-0581|              null|  1990-07-01|        null|   80|5 - Municipal/Com...|3 - Municipal/Com...|        3|Fast Food Restaurant|   3|             NO|  1 - Restaurant| Food Service|ACTIVE|                  FOOD|36.0583372, -78.9...|36.0583372| -78.9032023|-78.8994869| 35.955334|
|55475|BOJANGLES #6|4525 N. ROXBORO ROAD|            null|      DURHAM|           NC|      27704|(919) 471-0581|              null|  1990-07-01|        null|   80|5 - Municipal/Com...|3 - Municipal/Com...|        3|Fast Food Restaurant|   3|             NO|  1 - Restaurant| Food Service|ACTIVE|                  FOOD|36.0583372, -78.9...|36.0583372| -78.9032023| -78.877483| 35.990061|
+-----+------------+--------------------+----------------+------------+-------------+-----------+--------------+------------------+------------+------------+-----+--------------------+--------------------+---------+--------------------+----+---------------+----------------+-------------+------+----------------------+--------------------+----------+------------+-----------+----------+
only showing top 5 rows

In [41]:
from haversine import haversine, Unit

from pyspark.sql.types import FloatType
from pyspark.sql.functions import udf

@udf(returnType=FloatType())
def haversine_dist(lat_x, long_x, lat_y, long_y):
    if long_x== None or lat_x == None or long_y == None or lat_y == None:
        return 2000.0
    return haversine((lat_x, long_x), (float(lat_y), float(long_y)), unit=Unit.MILES)

In [42]:
result = result.withColumn(
    "distance", 
    haversine_dist(
        col("lat"),
        col("long"),
        col("Latitude"),
        col("Longitude")
    ).alias("distance")
)

result.printSchema()
result.show(5)

root
 |-- ID: string (nullable = true)
 |-- Premise_Name: string (nullable = true)
 |-- Premise_Address1: string (nullable = true)
 |-- Premise_Address2: string (nullable = true)
 |-- Premise_City: string (nullable = true)
 |-- Premise_State: string (nullable = true)
 |-- Premise_Zip: string (nullable = true)
 |-- Premise_Phone: string (nullable = true)
 |-- Hours_Of_Operation: string (nullable = true)
 |-- Opening_Date: string (nullable = true)
 |-- Closing_Date: string (nullable = true)
 |-- Seats: string (nullable = true)
 |-- Water: string (nullable = true)
 |-- Sewage: string (nullable = true)
 |-- Insp_Freq: string (nullable = true)
 |-- Est_Group_Desc: string (nullable = true)
 |-- Risk: integer (nullable = true)
 |-- Smoking_Allowed: string (nullable = true)
 |-- Type_Description: string (nullable = true)
 |-- Rpt_Area_Desc: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Transitional_Type_Desc: string (nullable = true)
 |-- geolocation: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- long: double (nullable = true)
 |-- lat: double (nullable = true)
 |-- distance: float (nullable = true)

+-----+------------+--------------------+----------------+------------+-------------+-----------+--------------+------------------+------------+------------+-----+--------------------+--------------------+---------+--------------------+----+---------------+----------------+-------------+------+----------------------+--------------------+----------+------------+-----------+----------+---------+
|   ID|Premise_Name|    Premise_Address1|Premise_Address2|Premise_City|Premise_State|Premise_Zip| Premise_Phone|Hours_Of_Operation|Opening_Date|Closing_Date|Seats|               Water|              Sewage|Insp_Freq|      Est_Group_Desc|Risk|Smoking_Allowed|Type_Description|Rpt_Area_Desc|Status|Transitional_Type_Desc|         geolocation|  Latitude|   Longitude|       long|       lat| distance|
+-----+------------+--------------------+----------------+------------+-------------+-----------+--------------+------------------+------------+------------+-----+--------------------+--------------------+---------+--------------------+----+---------------+----------------+-------------+------+----------------------+--------------------+----------+------------+-----------+----------+---------+
|55475|BOJANGLES #6|4525 N. ROXBORO ROAD|            null|      DURHAM|           NC|      27704|(919) 471-0581|              null|  1990-07-01|        null|   80|5 - Municipal/Com...|3 - Municipal/Com...|        3|Fast Food Restaurant|   3|             NO|  1 - Restaurant| Food Service|ACTIVE|                  FOOD|36.0583372, -78.9...|36.0583372| -78.9032023|-78.9054859|35.9860296|4.9976087|
|55475|BOJANGLES #6|4525 N. ROXBORO ROAD|            null|      DURHAM|           NC|      27704|(919) 471-0581|              null|  1990-07-01|        null|   80|5 - Municipal/Com...|3 - Municipal/Com...|        3|Fast Food Restaurant|   3|             NO|  1 - Restaurant| Food Service|ACTIVE|                  FOOD|36.0583372, -78.9...|36.0583372| -78.9032023|-78.8999963|35.9828632|5.2178335|
|55475|BOJANGLES #6|4525 N. ROXBORO ROAD|            null|      DURHAM|           NC|      27704|(919) 471-0581|              null|  1990-07-01|        null|   80|5 - Municipal/Com...|3 - Municipal/Com...|        3|Fast Food Restaurant|   3|             NO|  1 - Restaurant| Food Service|ACTIVE|                  FOOD|36.0583372, -78.9...|36.0583372| -78.9032023| -78.905474| 35.982741|5.2247424|
|55475|BOJANGLES #6|4525 N. ROXBORO ROAD|            null|      DURHAM|           NC|      27704|(919) 471-0581|              null|  1990-07-01|        null|   80|5 - Municipal/Com...|3 - Municipal/Com...|        3|Fast Food Restaurant|   3|             NO|  1 - Restaurant| Food Service|ACTIVE|                  FOOD|36.0583372, -78.9...|36.0583372| -78.9032023|-78.8994869| 35.955334|7.1198726|
|55475|BOJANGLES #6|4525 N. ROXBORO ROAD|            null|      DURHAM|           NC|      27704|(919) 471-0581|              null|  1990-07-01|        null|   80|5 - Municipal/Com...|3 - Municipal/Com...|        3|Fast Food Restaurant|   3|             NO|  1 - Restaurant| Food Service|ACTIVE|                  FOOD|36.0583372, -78.9...|36.0583372| -78.9032023| -78.877483| 35.990061|4.9315085|
+-----+------------+--------------------+----------------+------------+-------------+-----------+--------------+------------------+------------+------------+-----+--------------------+--------------------+---------+--------------------+----+---------------+----------------+-------------+------+----------------------+--------------------+----------+------------+-----------+----------+---------+
only showing top 5 rows

In [43]:
result = result.filter(col("distance") <= 1.0)

result.printSchema()
result.show(5)

root
 |-- ID: string (nullable = true)
 |-- Premise_Name: string (nullable = true)
 |-- Premise_Address1: string (nullable = true)
 |-- Premise_Address2: string (nullable = true)
 |-- Premise_City: string (nullable = true)
 |-- Premise_State: string (nullable = true)
 |-- Premise_Zip: string (nullable = true)
 |-- Premise_Phone: string (nullable = true)
 |-- Hours_Of_Operation: string (nullable = true)
 |-- Opening_Date: string (nullable = true)
 |-- Closing_Date: string (nullable = true)
 |-- Seats: string (nullable = true)
 |-- Water: string (nullable = true)
 |-- Sewage: string (nullable = true)
 |-- Insp_Freq: string (nullable = true)
 |-- Est_Group_Desc: string (nullable = true)
 |-- Risk: integer (nullable = true)
 |-- Smoking_Allowed: string (nullable = true)
 |-- Type_Description: string (nullable = true)
 |-- Rpt_Area_Desc: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Transitional_Type_Desc: string (nullable = true)
 |-- geolocation: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- long: double (nullable = true)
 |-- lat: double (nullable = true)
 |-- distance: float (nullable = true)

23/03/12 21:05:10 WARN ExtractPythonUDFFromJoinCondition: The join condition:(haversine_dist(lat#2302, long#2301, Latitude#2250, Longitude#2275)#2466 <= 1.0) of the join plan contains PythonUDF only, it will be moved out and the join plan will be turned to cross join.

+-----+------------+--------------------+----------------+------------+-------------+-----------+--------------+------------------+------------+------------+-----+--------------------+--------------------+---------+--------------------+----+---------------+----------------+-------------+------+----------------------+--------------------+----------+------------+-----------+----------+----------+
|   ID|Premise_Name|    Premise_Address1|Premise_Address2|Premise_City|Premise_State|Premise_Zip| Premise_Phone|Hours_Of_Operation|Opening_Date|Closing_Date|Seats|               Water|              Sewage|Insp_Freq|      Est_Group_Desc|Risk|Smoking_Allowed|Type_Description|Rpt_Area_Desc|Status|Transitional_Type_Desc|         geolocation|  Latitude|   Longitude|       long|       lat|  distance|
+-----+------------+--------------------+----------------+------------+-------------+-----------+--------------+------------------+------------+------------+-----+--------------------+--------------------+---------+--------------------+----+---------------+----------------+-------------+------+----------------------+--------------------+----------+------------+-----------+----------+----------+
|55475|BOJANGLES #6|4525 N. ROXBORO ROAD|            null|      DURHAM|           NC|      27704|(919) 471-0581|              null|  1990-07-01|        null|   80|5 - Municipal/Com...|3 - Municipal/Com...|        3|Fast Food Restaurant|   3|             NO|  1 - Restaurant| Food Service|ACTIVE|                  FOOD|36.0583372, -78.9...|36.0583372| -78.9032023| -78.898467| 36.053406|0.43133345|
|55475|BOJANGLES #6|4525 N. ROXBORO ROAD|            null|      DURHAM|           NC|      27704|(919) 471-0581|              null|  1990-07-01|        null|   80|5 - Municipal/Com...|3 - Municipal/Com...|        3|Fast Food Restaurant|   3|             NO|  1 - Restaurant| Food Service|ACTIVE|                  FOOD|36.0583372, -78.9...|36.0583372| -78.9032023| -78.897111| 36.064923|0.56816316|
|55475|BOJANGLES #6|4525 N. ROXBORO ROAD|            null|      DURHAM|           NC|      27704|(919) 471-0581|              null|  1990-07-01|        null|   80|5 - Municipal/Com...|3 - Municipal/Com...|        3|Fast Food Restaurant|   3|             NO|  1 - Restaurant| Food Service|ACTIVE|                  FOOD|36.0583372, -78.9...|36.0583372| -78.9032023| -78.899759| 36.046058|0.86994225|
|55475|BOJANGLES #6|4525 N. ROXBORO ROAD|            null|      DURHAM|           NC|      27704|(919) 471-0581|              null|  1990-07-01|        null|   80|5 - Municipal/Com...|3 - Municipal/Com...|        3|Fast Food Restaurant|   3|             NO|  1 - Restaurant| Food Service|ACTIVE|                  FOOD|36.0583372, -78.9...|36.0583372| -78.9032023|-78.9041444|36.0628206|0.31421095|
|55475|BOJANGLES #6|4525 N. ROXBORO ROAD|            null|      DURHAM|           NC|      27704|(919) 471-0581|              null|  1990-07-01|        null|   80|5 - Municipal/Com...|3 - Municipal/Com...|        3|Fast Food Restaurant|   3|             NO|  1 - Restaurant| Food Service|ACTIVE|                  FOOD|36.0583372, -78.9...|36.0583372| -78.9032023|-78.9032469| 36.069163| 0.7479957|
+-----+------------+--------------------+----------------+------------+-------------+-----------+--------------+------------------+------------+------------+-----+--------------------+--------------------+---------+--------------------+----+---------------+----------------+-------------+------+----------------------+--------------------+----------+------------+-----------+----------+----------+
only showing top 5 rows

In [44]:
result.select('Premise_name', 'distance').show(5)

23/03/12 21:05:15 WARN ExtractPythonUDFFromJoinCondition: The join condition:(haversine_dist(lat#2302, long#2301, Latitude#2250, Longitude#2275)#2466 <= 1.0) of the join plan contains PythonUDF only, it will be moved out and the join plan will be turned to cross join.

+--------------------+----------+
|        Premise_name|  distance|
+--------------------+----------+
|DELECTABLE-DELECT...| 0.9322919|
|       THE BAGEL BAR|0.76186764|
|DANISH MEXICAN RE...|0.37278858|
|EL RODEO OF DURHA...| 0.9912659|
|             LITTLER|0.70784277|
+--------------------+----------+
only showing top 5 rows

In [45]:
result = result.groupBy('Premise_name').count()

result.printSchema()
result.show(5)

root
 |-- Premise_name: string (nullable = true)
 |-- count: long (nullable = false)

23/03/12 21:05:18 WARN ExtractPythonUDFFromJoinCondition: The join condition:(haversine_dist(lat#2302, long#2301, Latitude#2250, Longitude#2275)#2466 <= 1.0) of the join plan contains PythonUDF only, it will be moved out and the join plan will be turned to cross join.

+--------------------+-----+
|        Premise_name|count|
+--------------------+-----+
|     DPAC  3RD FLOOR|  267|
|W G PEARSON SCHOO...|  199|
|      EL DORADO'S #6|    5|
|            GRILL 46|   17|
|  COMPARE FOODS DELI|   65|
+--------------------+-----+
only showing top 5 rows

In [46]:
result.orderBy(desc("count")).show(5)

23/03/12 21:05:32 WARN ExtractPythonUDFFromJoinCondition: The join condition:(haversine_dist(lat#2302, long#2301, Latitude#2250, Longitude#2275)#2466 <= 1.0) of the join plan contains PythonUDF only, it will be moved out and the join plan will be turned to cross join.

+--------------------+-----+
|        Premise_name|count|
+--------------------+-----+
|              SUBWAY|  882|
|TOP'S CHINA RESTA...|  638|
|    TATER BREAD CAFE|  516|
|LOS PRIMOS SUPERM...|  515|
|     THE COTTON ROOM|  486|
+--------------------+-----+
only showing top 5 rows